@{
	ViewData["Title"] = "Home Page";
}

<!-- slider-section - start
================================================== -->
<section id="slider-section" class="slider-section clearfix">
	<div id="agency-default-carousel" class="shop-slider owl-carousel owl-theme">

		<div class="item d-flex align-items-center" data-background="assets/images/slider/bg_17.png">
			<div class="container">
				<div class="row justify-content-end">
					<div class="col-lg-5 col-md-6 col-sm-7 col-10">
						<h3 class="item-title mb-60" data-aos="fade-up" data-aos-delay="100">
							در حراجی های متنوع بیدلند شرکت کن
						</h3>
						<a href="/auctionlist" class="btn" data-aos="fade-up" data-aos-delay="300">مشاهده حراجی ها</a>
					</div>
				</div>
			</div>

			<div class="absolute-social-wrap">
				<div class="container">
					<div class="social-links-text ul-li-right clearfix" data-aos="fade-right" data-aos-delay="500">
						<ul class="clearfix">
							<li><a href="#!">facebook</a></li>
							<li><a href="#!">twitter</a></li>
							<li><a href="#!">instagram</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="item d-flex align-items-center" data-background="assets/images/slider/bg_30_new.png">
			<div class="container">
				<div class="row justify-content-end">
					<div class="col-lg-5 col-md-6 col-sm-7 col-10">
						<h3 class="item-title mb-60" data-aos="fade-up" data-aos-delay="100">
							اگر دنبال رایحه ای متفاوت هستی
						</h3>
						<a href="/product/index?category=19" class="btn" data-aos="fade-up" data-aos-delay="300">الان خرید کن</a>
					</div>
				</div>
			</div>

			<div class="absolute-social-wrap">
				<div class="container">
					<div class="social-links-text ul-li-right clearfix" data-aos="fade-right" data-aos-delay="500">
						<ul class="clearfix">
							<li><a href="#!">facebook</a></li>
							<li><a href="#!">twitter</a></li>
							<li><a href="#!">instagram</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="item d-flex align-items-center" data-background="assets/images/slider/bg_31_new.jpg">
			<div class="container">
				<div class="row justify-content-end">
					<div class="col-lg-5 col-md-6 col-sm-7 col-10">
						<h3 class="item-title mb-60" data-aos="fade-up" data-aos-delay="100">
							لوازم الکترونیکی که ممکنه نیاز داشته باشی
						</h3>
						<a href="/product/index?category=6" class="btn" data-aos="fade-up" data-aos-delay="300">الان خرید کن</a>
					</div>
				</div>
			</div>

			<div class="absolute-social-wrap">
				<div class="container">
					<div class="social-links-text ul-li-right clearfix" data-aos="fade-right" data-aos-delay="500">
						<ul class="clearfix">
							<li><a href="#!">facebook</a></li>
							<li><a href="#!">twitter</a></li>
							<li><a href="#!">instagram</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>
<!-- slider-section - end
================================================== -->
<!-- shop-section - start
================================================== -->
<section class="shop-section sec-ptb-100 clearfix">
	<div class="container">
		<div class="row">

			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<a href="/product/index/" class="collection-fullimage" data-aos="fade-left" data-aos-delay="100">
					<img src="assets/images/shop/30_shop_minimal/img_1.jpg" alt="image_not_found">
					<span class="item-title text-right">
						<strong>جستجوی</strong>
						<strong>محصولات</strong>
					</span>
				</a>
			</div>

			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<a href="/boothlist" class="collection-fullimage" data-aos="fade-right" data-aos-delay="100">
					<img src="assets/images/shop/30_shop_minimal/img_2.jpg" alt="image_not_found">
					<span class="item-title">
						<strong>جستجوی</strong>
						<strong>فروشگاه ها</strong>
					</span>
				</a>
			</div>

		</div>
	</div>
</section>
<!-- shop-section - end
================================================== -->
<!-- shop-section - start
================================================== -->
<section class="shop-section clearfix">
	<div class="container">

		<div class="section-title" data-aos="fade-up" data-aos-delay="100">
			<h2 class="title-text mb-0"> محصولات پرطرفدار </h2>
		</div>

		<div id="shop-carousel" class="shop-carousel arrow-top-right owl-carousel owl-theme" data-aos="fade-up" data-aos-delay="300">
			<div class="item">
				<div class="product-grid">
					<a class="item-image" href="/product/stockinfo/6">
						<img src="assets/images/shop/30_shop_minimal/img_7.png" alt="image_not_found">
					</a>

					<div class="item-content text-center">
						<h3 class="item-title">
							<a href="/product/stockinfo/6">لپ تاپ گیمینگ</a>
						</h3>
						<span class="item-price">$80000</span>
					</div>

					<div class="action-content clearfix">
						<div class="btns-group ul-li-right clearfix">
							<a href="/product/stockinfo/6" class="addtocart-btn"><i class="fas fa-plus mr-2"></i> مشاهده کالا</a>
							<ul class="clearfix">
								<li>
									<button type="button"><i class="far fa-expand-arrows-alt"></i></button>
								</li>
								<li>
									<button type="button"><i class="fas fa-heart"></i></button>
								</li>
							</ul>
						</div>
						<div class="rating-star ul-li clearfix">
							<ul class="clearfix">
								<li class="active"><i class="fas fa-star"></i></li>
								<li class="active"><i class="fas fa-star"></i></li>
								<li class="active"><i class="fas fa-star"></i></li>
								<li class="active"><i class="fas fa-star"></i></li>
								<li><i class="fas fa-star"></i></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="item">
				<div class="product-grid">
					<a class="item-image" href="/product/stockinfo/7">
						<img src="assets/images/shop/30_shop_minimal/img_8.png" alt="image_not_found">
					</a>

					<div class="item-content text-center">
						<h3 class="item-title">
							<a href="/product/stockinfo/7">مانیتور طراحی</a>
						</h3>
						<span class="item-price">$40000</span>
					</div>

					<div class="action-content clearfix">
						<div class="btns-group ul-li-right clearfix">
							<a href="/product/stockinfo/7" class="addtocart-btn"><i class="fas fa-plus mr-2"></i> مشاهده کالا</a>
							<ul class="clearfix">
								<li>
									<button type="button"><i class="far fa-expand-arrows-alt"></i></button>
								</li>
								<li>
									<button type="button"><i class="fas fa-heart"></i></button>
								</li>
							</ul>
						</div>
						<div class="rating-star ul-li clearfix">
							<ul class="clearfix">
								<li class="active"><i class="fas fa-star"></i></li>
								<li class="active"><i class="fas fa-star"></i></li>
								<li class="active"><i class="fas fa-star"></i></li>
								<li class="active"><i class="fas fa-star"></i></li>
								<li><i class="fas fa-star"></i></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="item">
				<div class="product-grid">
					<a class="item-image" href="/product/stockinfo/8">
						<img src="assets/images/shop/30_shop_minimal/img_9.png" alt="image_not_found">
					</a>

					<div class="item-content text-center">
						<h3 class="item-title">
							<a href="/product/stockinfo/8">ادکلن تام فورد</a>
						</h3>
						<span class="item-price">$12000</span>
					</div>

					<div class="action-content clearfix">
						<div class="btns-group ul-li-right clearfix">
							<a href="/product/stockinfo/8" class="addtocart-btn"><i class="fas fa-plus mr-2"></i> مشاهده کالا</a>
							<ul class="clearfix">
								<li>
									<button type="button"><i class="far fa-expand-arrows-alt"></i></button>
								</li>
								<li>
									<button type="button"><i class="fas fa-heart"></i></button>
								</li>
							</ul>
						</div>
						<div class="rating-star ul-li clearfix">
							<ul class="clearfix">
								<li class="active"><i class="fas fa-star"></i></li>
								<li class="active"><i class="fas fa-star"></i></li>
								<li class="active"><i class="fas fa-star"></i></li>
								<li class="active"><i class="fas fa-star"></i></li>
								<li><i class="fas fa-star"></i></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="item">
				<div class="product-grid">
					<a class="item-image" href="/product/stockinfo/9">
						<img src="assets/images/shop/30_shop_minimal/img_10.png" alt="image_not_found">
					</a>

					<div class="item-content text-center">
						<h3 class="item-title">
							<a href="/product/stockinfo/9">دوربین کنون</a>
						</h3>
						<span class="item-price">$6000</span>
					</div>

					<div class="action-content clearfix">
						<div class="btns-group ul-li-right clearfix">
							<a href="/product/stockinfo/9" class="addtocart-btn"><i class="fas fa-plus mr-2"></i> مشاهده کالا</a>
							<ul class="clearfix">
								<li>
									<button type="button"><i class="far fa-expand-arrows-alt"></i></button>
								</li>
								<li>
									<button type="button"><i class="fas fa-heart"></i></button>
								</li>
							</ul>
						</div>
						<div class="rating-star ul-li clearfix">
							<ul class="clearfix">
								<li class="active"><i class="fas fa-star"></i></li>
								<li class="active"><i class="fas fa-star"></i></li>
								<li class="active"><i class="fas fa-star"></i></li>
								<li class="active"><i class="fas fa-star"></i></li>
								<li><i class="fas fa-star"></i></li>
							</ul>
						</div>
					</div>
				</div>
			</div>


			<div class="item">
				<div class="product-grid">
					<a class="item-image" href="/product/stockinfo/6">
						<img src="assets/images/shop/30_shop_minimal/img_7.png" alt="image_not_found">
					</a>

					<div class="item-content text-center">
						<h3 class="item-title">
							<a href="/product/stockinfo/6">لپ تاپ گیمینگ</a>
						</h3>
						<span class="item-price">$80000</span>
					</div>

					<div class="action-content clearfix">
						<div class="btns-group ul-li-right clearfix">
							<a href="/product/stockinfo/6" class="addtocart-btn"><i class="fas fa-plus mr-2"></i> مشاهده کالا</a>
							<ul class="clearfix">
								<li>
									<button type="button"><i class="far fa-expand-arrows-alt"></i></button>
								</li>
								<li>
									<button type="button"><i class="fas fa-heart"></i></button>
								</li>
							</ul>
						</div>
						<div class="rating-star ul-li clearfix">
							<ul class="clearfix">
								<li class="active"><i class="fas fa-star"></i></li>
								<li class="active"><i class="fas fa-star"></i></li>
								<li class="active"><i class="fas fa-star"></i></li>
								<li class="active"><i class="fas fa-star"></i></li>
								<li><i class="fas fa-star"></i></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="item">
				<div class="product-grid">
					<a class="item-image" href="/product/stockinfo/7">
						<img src="assets/images/shop/30_shop_minimal/img_8.png" alt="image_not_found">
					</a>

					<div class="item-content text-center">
						<h3 class="item-title">
							<a href="/product/stockinfo/7">مانیتور طراحی</a>
						</h3>
						<span class="item-price">$40000</span>
					</div>

					<div class="action-content clearfix">
						<div class="btns-group ul-li-right clearfix">
							<a href="/product/stockinfo/7" class="addtocart-btn"><i class="fas fa-plus mr-2"></i> مشاهده کالا</a>
							<ul class="clearfix">
								<li>
									<button type="button"><i class="far fa-expand-arrows-alt"></i></button>
								</li>
								<li>
									<button type="button"><i class="fas fa-heart"></i></button>
								</li>
							</ul>
						</div>
						<div class="rating-star ul-li clearfix">
							<ul class="clearfix">
								<li class="active"><i class="fas fa-star"></i></li>
								<li class="active"><i class="fas fa-star"></i></li>
								<li class="active"><i class="fas fa-star"></i></li>
								<li class="active"><i class="fas fa-star"></i></li>
								<li><i class="fas fa-star"></i></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="item">
				<div class="product-grid">
					<a class="item-image" href="/product/stockinfo/8">
						<img src="assets/images/shop/30_shop_minimal/img_9.png" alt="image_not_found">
					</a>

					<div class="item-content text-center">
						<h3 class="item-title">
							<a href="/product/stockinfo/8">ادکلن تام فورد</a>
						</h3>
						<span class="item-price">$12000</span>
					</div>

					<div class="action-content clearfix">
						<div class="btns-group ul-li-right clearfix">
							<a href="/product/stockinfo/8" class="addtocart-btn"><i class="fas fa-plus mr-2"></i> مشاهده کالا</a>
							<ul class="clearfix">
								<li>
									<button type="button"><i class="far fa-expand-arrows-alt"></i></button>
								</li>
								<li>
									<button type="button"><i class="fas fa-heart"></i></button>
								</li>
							</ul>
						</div>
						<div class="rating-star ul-li clearfix">
							<ul class="clearfix">
								<li class="active"><i class="fas fa-star"></i></li>
								<li class="active"><i class="fas fa-star"></i></li>
								<li class="active"><i class="fas fa-star"></i></li>
								<li class="active"><i class="fas fa-star"></i></li>
								<li><i class="fas fa-star"></i></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="item">
				<div class="product-grid">
					<a class="item-image" href="/product/stockinfo/9">
						<img src="assets/images/shop/30_shop_minimal/img_10.png" alt="image_not_found">
					</a>

					<div class="item-content text-center">
						<h3 class="item-title">
							<a href="/product/stockinfo/9">دوربین کنون</a>
						</h3>
						<span class="item-price">$6000</span>
					</div>

					<div class="action-content clearfix">
						<div class="btns-group ul-li-right clearfix">
							<a href="/product/stockinfo/9" class="addtocart-btn"><i class="fas fa-plus mr-2"></i> مشاهده کالا</a>
							<ul class="clearfix">
								<li>
									<button type="button"><i class="far fa-expand-arrows-alt"></i></button>
								</li>
								<li>
									<button type="button"><i class="fas fa-heart"></i></button>
								</li>
							</ul>
						</div>
						<div class="rating-star ul-li clearfix">
							<ul class="clearfix">
								<li class="active"><i class="fas fa-star"></i></li>
								<li class="active"><i class="fas fa-star"></i></li>
								<li class="active"><i class="fas fa-star"></i></li>
								<li class="active"><i class="fas fa-star"></i></li>
								<li><i class="fas fa-star"></i></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>
<!-- shop-section - end
================================================== -->
