<!-- footer-section - start
================================================== -->
<footer id="footer-section" class="footer-section sec-ptb-100 clearfix">
	<div class="container">
		<div class="row align-items-center justify-content-lg-between">

			<div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
				<div class="brand-logo" data-aos="fade-up" data-aos-delay="100">
					<a href="/">
						<img src="/assets/images/logo/logo_new.png?v=@DateTime.Now.Ticks" alt="logo_not_found">
					</a>
				</div>
			</div>
			<div class="col-lg-5 col-md-3 col-sm-12 col-xs-12">
				<form action="#">
					<div class="form-group ul-li clearfix" data-aos="fade-up" data-aos-delay="300">
						<ul class="clearfix">
							<li>
								<div class="form-item mb-0">
									<select id="cars">
										<option value="rial">ریال</option>
										<option value="usd">USD</option>
									</select>
								</div>
							</li>
							<li>
								<div class="form-item mb-0">
									<select id="cars">
										<option value="persian">فارسی</option>
										<option value="english">ENG</option>
										<option value="spanish">SPA</option>
										<option value="franch">FRA</option>
									</select>
								</div>
							</li>
						</ul>
					</div>
				</form>
			</div>

			<div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
				<div class="payment-card ul-li-right clearfix" data-aos="fade-up" data-aos-delay="500">
					<ul class="clearfix">
						<li><a href="#!"><img src="/assets/images/card_1.png?v=@DateTime.Now.Ticks" alt="image_not_found"></a></li>
						<li><a href="#!"><img src="/assets/images/card_2.png?v=@DateTime.Now.Ticks" alt="image_not_found"></a></li>
						<li><a href="#!"><img src="/assets/images/card_3.png?v=@DateTime.Now.Ticks" alt="image_not_found"></a></li>
						<li><a href="#!"><img src="/assets/images/card_4.png?v=@DateTime.Now.Ticks" alt="image_not_found"></a></li>
						<li><a href="#!"><img src="/assets/images/card_5.png?v=@DateTime.Now.Ticks" alt="image_not_found"></a></li>
					</ul>
				</div>
			</div>

		</div>
	</div>
</footer>
<!-- footer-section - end
================================================== -->
