<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>@ViewData["Title"] - BidLand.Web</title>
    <link rel="shortcut icon" href="assets/images/logo/favourite-icon.png">

    <!-- css include -->
    <link asp-append-version="true" rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css">
    <link asp-append-version="true" rel="stylesheet" type="text/css" href="~/assets/css/fontawesome-all.css">
    <link asp-append-version="true" rel="stylesheet" type="text/css" href="~/assets/css/icomoon.css">
    <link asp-append-version="true" rel="stylesheet" type="text/css" href="~/assets/css/animate.css">
    <link asp-append-version="true" rel="stylesheet" type="text/css" href="~/assets/css/owl.carousel.min.css">
    <link asp-append-version="true" rel="stylesheet" type="text/css" href="~/assets/css/owl.theme.default.min.css">
    <link asp-append-version="true" rel="stylesheet" type="text/css" href="~/assets/css/magnific-popup.css">
    <link asp-append-version="true" rel="stylesheet" type="text/css" href="~/assets/css/jquery-ui.css">
    <link asp-append-version="true" rel="stylesheet" type="text/css" href="~/assets/css/aos.css">

    <!-- custom - css include -->
    <link asp-append-version="true" rel="stylesheet" type="text/css" href="~/assets/css/style.css">

    @await RenderSectionAsync("Styles", required: false)

</head>
<body class="home-shop-minimal">


    <!-- backtotop - start -->
    <div id="thetop"></div>
    <div id="backtotop">
        <a href="#" id="scroll">
            <i class="far fa-arrow-up"></i>
        </a>
    </div>
    <!-- backtotop - end -->
    <!-- preloader - start -->
    <div id="preloader"></div>
    <!-- preloader - end -->

    <partial name="_headerPartial" />
    <!-- main body - start
    ================================================== -->
    <main>

        @RenderBody()
    </main>
    <partial name="_footerPartial" />
    <!-- jquery include -->
    <script src="~/assets/js/jquery-1.10.1.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/counterup.min.js"></script>
    <script src="~/assets/js/waypoints.min.js"></script>
    <script src="~/assets/js/countdown.js"></script>
    <script src="~/assets/js/magnific-popup.min.js"></script>
    <script src="~/assets/js/isotope.pkgd.min.js"></script>
    <script src="~/assets/js/masonry.pkgd.min.js"></script>
    <script src="~/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/assets/js/jquery-ui.js"></script>
    <script src="~/assets/js/aos.js"></script>
    <script src="~/assets/js/validate.js"></script>

    <!-- google map - jquery include -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDk2HrmqE4sWSei0XdKGbOMOHN3Mm2Bf-M&ver=2.1.6"></script>
    <script src="~/assets/js/gmaps.min.js"></script>

    <!-- mobile menu - jquery include -->
    <script src="~/assets/js/mCustomScrollbar.js"></script>

    <!-- custom - jquery include -->
    <script src="~/assets/js/custom.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
