@model ProductRepoDto
@using App.Domin.Core._01_Purchause.Contracts.Repositories.Dtos
@{
    ViewBag.PageTitle = "حذف محصول";
}



<div class="app-content pt-3 p-md-3 p-lg-4">
	<div class="container-xl">
		<h1 class="app-page-title">@ViewBag.PageTitle</h1>
		<hr class="mb-4">
		<div class="row g-4 settings-section">
			
			<div class="col-12 col-md-6">
				<div class="app-card app-card-settings shadow-sm p-4">

					<div class="app-card-body">
						<form class="settings-form" method="post" asp-action="DeleteConfirmed">
							@Html.HiddenFor(m=>m.Id)
							<p>
								<h2>@Model.Name</h2>
								<hr />
								آیا از حذف این کالا اطمینان دارید؟
							</p>
							<button type="submit" class="btn app-btn-danger">حذف</button>
						</form>
					</div><!--//app-card-body-->

				</div><!--//app-card-->
			</div>
		</div><!--//row-->

	</div><!--//container-fluid-->
</div><!--//app-content-->
